@import "../../../styles/colors";
@import "../../../styles/mixins";

.NavItem {
    @include standard-transitions();
    // font-family: "Lora", "serif";
    text-transform: uppercase;
    border: 1px solid $wht;
    padding: 8px;

    &:hover {
        @include standard-transitions();
        border-radius: 10px;
        background-color: $wht;
        color: $blk;
        cursor: pointer;
    }
}