@import "./colors";

// This mixin does not provide any magic. It's purely for typing convenience.
@mixin flex($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin standard-transitions() {
    transition-duration: 225ms;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}

@mixin logo-styling() {
    font-size: calc(5vmin + 20px);
    color: $wht;
}
