@import "../../styles/colors";
@import "../../styles/mixins";

.InfoCard {
    @include flex(column, center, flex-start);
    margin: 1vh 1vw;

    * {
        margin: 0;
        padding: 0;
    }

    .Separator {
        margin: 8px auto -5px auto;
    }

    .info-card-icon {
        border-radius: 50%;
        position: fixed;
        margin: -130px auto auto -25px;
        padding: 18px;
    }

    .info-card-body {
        @include flex(column, flex-start, center);
        max-width: 380px;
        height: 128px;
        padding: 20px;
        background-color: $gry;
        border-radius: 20px;

        .info-card-upper {
            @include flex(row, space-between, flex-start);

            i {
                color: $gry2;
            }
        }

        .title {
            font-family: "Ubuntu", "sans serif";
            font-weight: 700;
            font-size: 24px;
        }
    }
}
