@import "../../styles/colors";

.Home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .my-name {
        color: $prl;
        font-weight: 700;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
}
