.Header {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .nav {
        display: flex;
        justify-content: center;
    }

    // .signin {
    //     margin: 12px 30px;

    //     @media only screen and (max-width: 365px) {
    //         transform: scale(0.6);
    //         margin: 4px;
    //     }
    // }
}
