@import "../../styles/colors";
@import "../../styles/mixins";

$tilt-degree: -3deg;

.Header {
    width: 100%;
    color: $wht;
    margin-bottom: 8vh;

    &::before {
        transform: rotate($tilt-degree);
        background-color: $blk;
        position: relative;
        content: " ";
        display: block;
        width: 110%;
        height: 135px;
        top: -50px;
        left: -5%;
    }

    
    .header-content {
        position: absolute;
        top: 0;
        padding: 8px;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        
        > * {
            margin: auto 9px;
        }

        .badge {
            display: flex;
            flex-direction: column;
            align-items: center;

            .subtitle {
                font-family: "Ubuntu", "serif";
                margin: 4px auto;
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 4px;                
            }
        }
    }

    .Logo {
        font-size: calc(3vmin + 14px);
    }
}
