@import "../../styles/colors";

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150;

    -webkit-box-shadow: 0px -10px 6px 5px $wht; 
    box-shadow: 0px -7px 10px 5px $wht;
    background-color: $blk;
    position: fixed;
    padding: 8px 8px 4px 8px;
    bottom: 0;
    color: $wht;
    width: 100%;
    font-size: 14px;

    .main-footer-content {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        max-width: 700px;
        padding: 10px;
    }

    p {
        margin: inherit;
    }

    .logo-row {
        margin: 9px auto;
        display: flex;
        justify-content: center;

        a:hover {
            color: $cyn;
        }
        
        > * {
            margin: 3px 6px;
        }
    }

    .legal {
        justify-content: center;
        font-size: 10px;
        display: flex;
        padding: 0;
    }
}
