@import "./styles/colors";
@import "./styles/mixins";

body {
    color: $blk;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $wht;
    overflow-x: hidden;
}

code {
    font-family: 'Ubuntu Mono', monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: 'Lora', serif;
}

.page {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: $footer-height;
}
