@import "./styles/colors";
@import "./styles/mixins";

$font-size: 20px;

body {
  color: $blk;
  background-color: $gry;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: "Ubuntu Mono", monospace;
}

a {
  &:hover {
    text-decoration: dotted underline;
  }
}

p, a {
  // font-family: "Ubuntu", sans-serif;
  font-family: "Helvetica", sans-serif;
  text-decoration: none;
  color: inherit;

  padding: 4px 0;
  margin: 0;
  font-size: $font-size;
}

.disabled {
  cursor: not-allowed;
  &:hover {
    text-decoration: none;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.content-wrap {
  padding-bottom: $footer-height;
  max-width: 975px;
  width: 90vw;
}

/*
    SECTION - Hovers
*/
.hover-cyan {
  @include standard-transitions();

  &:hover {
    @include standard-transitions();
    color: $cyn;
  }
}

.hover-yellow {
  @include standard-transitions();

  &:hover {
    @include standard-transitions();
    color: $ylw;
  }
}

.hover-purple {
  @include standard-transitions();

  &:hover {
    @include standard-transitions();
    color: $prl;
  }
}
