@import "../../styles/colors";
@import "../../styles/mixins";

$tilt-degree: 2deg;
$body-block-height: 300px;

.Freelance {
    @include flex();

    .services-section {
        width: 100vw;

        .service-container {
            @include flex();
            @include tilt(2deg, 300px);
            background-color: $gry;
        }

    }

    .overview-section {
        @include flex(row);

        .overview-item {
            @include flex();
        }
    }
}