@import "../../styles/colors";
@import "../../styles/mixins";

$tilt-degree: 2deg;
$body-block-height: 225px;

.Freelance {
    display: flex;
    flex-direction: column;
    align-items: center;

    .service-item {
        width: 100vw;

        .body {
            @include flex();
            transform: rotate($tilt-degree);
            overflow: hidden;

            > * {
                transform: rotate(-$tilt-degree);
            }
        }

        .title {
            @include standard-dynamic-text-heading-sizing();
            transform: rotate($tilt-degree);
            text-transform: uppercase;
            margin: auto auto 0px 15px;
            font-weight: 700;
        }
    }

    .list p {
        padding: 0;
        margin: 4px;
    }

    .faq-banner {
        @include flex(row);
        @include standard-dynamic-text-heading-sizing();
        font-weight: 700;
        background-color: $gry;
        width: 100vw;
        height: 90px;
        margin: 50px auto 25px;

        transform: rotate($tilt-degree);

        * {
            transform: rotate(-$tilt-degree);
        }
    }

    #webdev-effect-block {
        background-color: $red;
        position: relative;
        width: 100vw;
        height: $body-block-height + 200px;
        transform: rotate(90deg);
    }
}
