@import "../../styles/colors";

.Navbar {
    position: sticky;
    width: 100%;
    font-size: calc(1.5vmin + 2px);
    color: $blk;

    .nav {
        display: flex;
        align-items: center;
    }
}
